body {
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background: #00c6ff;
  cursor: pointer;
}

button:hover {
  background: #00a3cc;
}

.result {
  text-align: center;
}

.badge {
  padding: 12px 22px;
  border-radius: 20px;
  font-size: 20px;
  display: inline-block;
  margin-top: 15px;
}

.Healthy {
  background: #2ecc71;
}

.Moderate {
  background: #f1c40f;
  color: #000;
}

.High {
  background: #e67e22;
}

.Critical {
  background: #e74c3c;
}
